<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <!-- cdn way bootstrap -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> -->
    
    <!-- routes way of bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <link rel="stylesheet" href="/CSS/style.css">
    
</head>

<body>
    <header class="d-flex justify-content-between mx-4 my-2">
        <h2>Top Gear</h2>
        <div class="my-3">
          <span class="mx-2">9876643211</span>
          <span>email: ecommerce@top.com</span>
        </div>
      </header>
      <nav class="navbar navbar-expand-sm bg-light horizon">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/add">Add a Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Categories</a>
          </li>
          <!-- <a class="text-right btn btn-primary" href="/login">Login</a> -->
        </ul>
      </nav>
      